<!-- Nav bar -->
<section>
    <div>
        <nav class="sec_1">
            <div>
                <ul>
                    <li class="logo"> <a href="{% url 'index' %}">Logi<strong>N</strong><strong>E</strong>xpress</a></li>
                    <div class="item">
                        <li class="sec_1_1"><a href="{% url 'instantbuy' %}">Instant Buy/Sell</a></li>
                        <li class="sec_1_2"><a href="{% url 'learn' %}">Learn</a></li>
                        <button class="btg1"><a href="{% url 'login' %}">Log In</a></button>
                        <button class="btg2"><a href="{% url 'register' %}">Getting Started</a></button>
                    </div>
                </ul>
            </div>
        </nav>
</section>