{% extends 'base.html' %}
{% block content %}

    <!-- SECTION 1 BEGINS -->

   <br>
   <br>
   <br>
   <br>




    <div class="form2">
        <h3>Welcome Back!</h3>
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
        <br>
        <br>
        <form action="" method="POST">

            {% csrf_token %}

            <br>
            <br>
            <br>
            <input type="text" name="username" placeholder="Username" class="formlogin" required> <br> <br>
            <input type="text" name="password" placeholder="Password" class="formlogin" required> <br> <br>

            <div class="remember">
                <div>
                    <input type="checkbox"> Remember Password
                </div>
                <div class="forgot">
                    <p>Forgot Password?</p>
                </div>
            </div>
            <br>
            <br>
            <input type="submit" value="Sign Up" class="form_btn4">
            <!-- <button class="form_btn4">Sign Up</button><br> -->
            <p class="p2"> New User? <span class="click">Click here</span> </p>

        </form>
    </div>
     <!-- END OF SECTION 1  -->
     
    <!-- {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %} -->
    <br>
    <br>
    {% endblock %}
