{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/index.css' %}">
    <title>HOME PAGE</title>
</head>

<body>

    <!-- SECTION 1 BEGINS -->

    <!-- <h1>{{request.user}}</h1> -->


    <section>
        <div></div>
        <nav class="sec_1">
            <div>
                <ul>
                    <li class="logo"> <a href="{% url 'home' %}">Logi<strong>N</strong><strong>E</strong>xpress</a>
                    </li>

                    <div class="item">
                        <li class="sec_1_1"><a href="{% url 'instantbuy' %}">Instant Buy/Sell</a></li>
                        <li class="sec_1_2"><a href="{% url 'learn' %}">Learn</a></li>
                        <button class="btg1"><a href="{% url 'login' %}">Log In</a></button>
                        <button class="btg2"><a href="{% url 'getstarted' %}">Getting Started</a></button>
                    </div>
                </ul>
            </div>
        </nav>
    </section>

    <br>
    <br>
    <br>
    <br>
    <!-- <h1 style="text-align: center; color: whitesmoke;">LEARN</h1> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    
      <section>
        <div class="sec_8" style="width:100%;" >
            <div>
                <img src="{% static '/images/11.png' %}" alt="" class="copy" style="margin-top: -10px;">2021 LoginExpress Technologies All Rights
                Reserved
            </div>
        </div>
    </section>



</body>

</html>