{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- SECTION 1 BEGINS -->
<br>
<br>
<br>
<br>

<div class="form1">
    <h3>Welcome!</h3>
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
    <form action="" method="POST">

        {% csrf_token %}
        <!-- {{form}} -->
    
        <div>
            <button class="form_btn1" style="margin-left: 50px;"><a href="{% url 'register' %}" >Business</a> </button>
        </div>
        <br>
        <input type="text" name="username" placeholder="Username" class="formstarted" required> <br> <br>
        <input type="text" name="fullname" placeholder="Fullname" class="formstarted" required> <br> <br>
        <input type="text" name="Email" placeholder="Email" class="formstarted" required> <br> <br>
        <input type="number" name="phonenumber" placeholder="Phone Number" class="formstarted" required> <br> <br>
        <input type="text" name="password" placeholder="Password" class="formstarted" required> <br> <br>
        <input type="text" name="password" placeholder="Confirm Password" class="formstarted" required> <br> <br>
        <input type="number" name="referralcode" placeholder="Referral Code (optional)" class="formstarted"> <br>
        <p>By clicking the Sign Up button below, you agree to <br>
            LoginExoress terms and services</p> <br>
        <input type="submit" value="Sign Up" class="form_btn3">
        <!-- <button class="form_btn3">Sign Up</button><br> -->
        <p class="p1"> Already have an account? Click here</p>

    </form>
</div>
<br>
<br>
<!-- {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %} -->

{% endblock %}