{% extends 'base.html' %}
{% load static %}
    
{% block content %}

    <!-- SECTION 1 BEGINS -->
    <br>
    <br>
    <br>



    <div class="form2">
        <h3 style="font-weight: lighter;">You're Almost In</h3>
        <h3>Welcome Pappy</h3>
        <div>
            <img src="{% static '/images/14.png' %}" alt="" class="Msg_Img">
        </div>
        <br>

        <p style="text-align: center; font-size: small;">
            An activation link has been sent to pappy@loginexpress.com <br>
            Please check on the link to very your email and <br>
            activate your LoginExpress account

        </p>
        <form action="" method="POST">

            {% csrf_token %}

            <!-- <input type="submit" value="Continue" class="welcome_btn"> -->

            <button class="continue"><a href="{% url 'welcome' %}">Continue</a></button>

            <p style="text-align: center; font-size: 10px; margin-right: 50px; margin-top: 30px;">
                Didn't get an email? kindly click resend email <br>
                Wrong email supplied? Edit email address
            </p>

        </form>
    </div>
    <!-- {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %} -->
    <br>
    <br>
    <br>
    {% endblock %}

     <!-- END OF SECTION 1  -->