{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/index.css' %}">
    <tWelcome /title>
</head>

<body>


    <!-- SECTION 1 BEGINS -->


    <section>
        <div class="sec_1">
            <nav>
                <div>
                    <ul>
                        <li class="logo"> <a href="{% url 'home' %}">Logi<strong>N</strong><strong>E</strong>xpress</a>
                        </li>

                        <div class="item">
                            <li class="sec_1_1"><a href="{% url 'instantbuy' %}">Instant Buy/Sell</a></li>
                            <li class="sec_1_2"><a href="{% url 'learn' %}">Learn</a></li>
                            <button class="btg1"><a href="{% url 'login' %}">Log In</a></button>
                            <button class="btg2"><a href="{% url 'getstarted' %}">Getting Started</a></button>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <br>
    <br>
    <br>

    <!-- END OF SECTION 1  -->




    <div class="form2">
        <h3 style="font-weight: lighter;">You're Almost In</h3>
        <h3>Welcome Pappy</h3>
        <div>
            <img src="{% static '/images/14.png' %}" alt="" class="Msg_Img">
        </div>
        <br>

        <p style="text-align: center; font-size: small;">
            An activation link has been sent to pappy@loginexpress.com <br>
            Please check on the link to very your email and <br>
            activate your LoginExpress account

        </p>
        <form action="" method="POST">

            {% csrf_token %}

            <!-- <input type="submit" value="Continue" class="welcome_btn"> -->

            <button class="continue"><a href="{% url 'welcome' %}">Continue</a></button>

            <p style="text-align: center; font-size: 10px; margin-right: 50px; margin-top: 30px;">
                Didn't get an email? kindly click resend email <br>
                Wrong email supplied? Edit email address
            </p>

        </form>
    </div>
    <!-- {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %} -->
    <br>
    <br>
    <br>

    <section>
        <div class="sec_8" style="width:100%;">
            <div>
                <img src="{% static '/images/11.png' %}" alt="" class="copy" style="margin-top: -10px;">2021
                LoginExpress Technologies All Rights
                Reserved
            </div>
        </div>
    </section>
</body>

</html>